.custom-button {
  background-color: #7DA7C3;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 30px 120px;
  font-size: 2.5em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 140px;
  margin-left: 110px;
}

.custom-button:hover {
  background-color: #6A94AD;
}

.custom-dropdown {
  background-color: #f5f5f5;
  color: #333;
  border: none; /* Remove or adjust border */
  border-radius: 5px;
  padding: 5px 10px; /* Reduce padding */
  font-size: 14px; /* Smaller font size */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Modified shadow */
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  text-align-last: center;
}

.custom-dropdown option {
  background-color: white;
  color: #000;
}


.box {
  background-color: white;
  border: 2px solid #b0c4de;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  max-width: 40%; 
  margin: 0 auto; 
}

img {
  border-radius: 0;
  max-width: 100%;
  height: auto;
  width: 300px;
  margin-left: 45%;
}

.lanjut-button {
  margin-left: 90%;
  bottom: 20px;
  right: 20px;
  background-color: #7DA7C3;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  font-size: 1.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.lanjut-button:hover {
  background-color: #6A94AD;
}

.form-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container select,
.form-container input[type="text"],
.form-container input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 100px;
  align-self: flex-end;
}

.form-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.lanjut2-button:hover {
  background-color: #0056b3; /* Darker blue background on hover */
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}
